{% extends "base.html" %}
{% load static %}

{% block banner_title %}About Us{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'displaybook.css' %}">
{% endblock %}

{% block content %}
  <h1>About Us</h1>
  <p>Welcome to Book Keep. This is a simple demo application for posting and rating books.</p>
  <p>You can add your own content here — team info, mission, contact details, etc.</p>
  <p>Here are the names of the people who worked on this project:</p>
    <h2>Team</h2>
    <ul>
      <li><a href="{% url 'person' 'hector-corona' %}">Hector Corona</a> — Software Developer</li>
      <li><a href="{% url 'person' 'kevin-luo' %}">Kevin Luo</a> — Software Developer</li>
      <li><a href="{% url 'person' 'esmeralda-amado' %}">Esmeralda Amado</a> — Software Developer</li>
      <li><a href="{% url 'person' 'evelyn-muneton' %}">Evelyn Muneton</a> — Software Developer</li>
      <li><a href="{% url 'person' 'raquel-alvarado' %}">Raquel Alvarado</a> — Software Developer</li>
      <!-- <li><a href="{% url 'person' 'brian-gonzales' %}">Brian Gonzales</a> — MIA</li>  -->
    </ul>
{% endblock content %}
