{% extends "base.html" %}
{% load static %}

{% block content %}
   <div class="container-fluid">
      <div class="alert alert-success" role="alert">
         <h4 class="alert-heading"><i class="bi bi-check-circle"></i> Book Deleted!</h4>
         <p>The book has been deleted successfully.</p>
         <hr>
         <a href="{% url 'displaybooks' %}" class="btn btn-primary">View All Books</a>
         <a href="{% url 'mybooks' %}" class="btn btn-secondary">My Books</a>
      </div>
   </div>
{% endblock content %}