{% extends "base.html" %}
{% load static %}

{% block content %}
   <div class="container-fluid">
      <div class="jumbotron bg-light p-5 rounded-3">
         <h1 class="display-4"><i class="bi bi-book"></i> Welcome to Book Exchange System</h1>
         <p class="lead">Buy, sell, and discover books from our community!</p>
         <hr class="my-4">
         <p>Browse our collection, post your own books, and connect with fellow book lovers.</p>
         <a class="btn btn-primary btn-lg" href="{% url 'displaybooks' %}" role="button">
            <i class="bi bi-search"></i> Browse Books
         </a>
         <a class="btn btn-success btn-lg" href="{% url 'postbook' %}" role="button">
            <i class="bi bi-plus-circle"></i> Post a Book
         </a>
      </div>
   </div>
{% endblock content %}